<?xml version="1.0"?>
<configuration>
  
  <connectionStrings configSource="connections.config"/>

  <appSettings>
      <!--<add key="DBConnectionstring" value="DB_CONNECTION_STRING"/>
      <add key="DBProvider" value="Oracle"/>-->
      <add key="DBConnectionstring" value="Data Source=PC-SSTEIGER;Initial Catalog=VeloDB;User Id=SomeWebServices;Password=TopSecret"/>
      <add key="DBProvider" value="MS_SQL"/>
    </appSettings>
  
  
    <connectionStrings />
    <system.web>
      <!-- [Full|High|Medium|Low|Minimal] -->
      <trust level="Medium" />
      
      
      <!--
      <hostingEnvironment idleTimeout="Infinite" shutdownTimeout="30" shadowCopyBinAssemblies="false" />
      -->
      
      <compilation debug="true">

        </compilation>
        <!--
            Der Abschnitt <authentication> ermöglicht die Konfiguration 
            des Sicherheitsauthentifizierungsmodus, mit dem 
            ASP.NET eingehende Benutzer identifiziert. 
        -->
        <authentication mode="Windows" />
        <!--
            Der Abschnitt <customErrors> ermöglicht die Konfiguration 
            der Vorgehensweise bei unbehandelten Fehlern während 
            der Anforderungsausführung. Insbesondere 
        können Entwickler HTML-Fehlerseiten konfigurieren, 
        die anstelle einer Fehlerstapelüberwachung angezeigt werden.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      <sessionState mode="Custom" customProvider="custom_provider" cookieless="true" timeout="1"
                    sessionIDManagerType="Samples.AspNet.Session.MySimpleSessionIDManager"
                    sqlConnectionString="Data Source=localhost;Initial Catalog=VeloDB;User Id=SomeWebServices;Password=TopSecrect123;" 
                    sqlCommandTimeout="10" 
                    >
        <!-- timeout in minutes-->
        <providers>
          <add name="custom_provider" type="Test.WebSession.CustomSessionStoreProvider" />
        </providers>
      </sessionState>


      <httpModules>
        <add type="WhitespaceModule" name="WhitespaceModule"/>
      </httpModules>

    </system.web>
  
</configuration>
