<?xml version="1.0"?>
<connectionStrings>
  <!--&uhu=(ô.ô)-->
  <remove name="server"/>
  <add name="server" connectionString="Data Source=CORDB2005;
    Initial Catalog=COR_Basic;
    Persist Security Info=False;
    Integrated Security=SSPI;
    MultipleActiveResultSets=False;
    Packet Size=4096;
    Application Name=&quot;TestApp&quot;" 
    providerName="System.Data.SqlClient"/>
    
  <remove name="COR-W81-101"/>
  <add name="COR-W81-101" connectionString="Data Source=COR-W81-101;Initial Catalog=COR_Basic_Demo;Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;TestApp&quot;" providerName="System.Data.SqlClient"/>
  
  <!--
  <add name="COR-W81-101" connectionString="Data Source=COR-W81-101;Initial Catalog=COR_Basic_Demo;User Id=SomeWebServices;Password=TopSecret;Persist Security Info=False;MultipleActiveResultSets=False;Packet Size=4096;" providerName="System.Data.SqlClient"/>
  -->
  
</connectionStrings>
